<% content_for :information do %>
  <%= tag.div class: 'row' do %>
    <%= tag.div (manage_collection_select_field form, :location_division_id, Location.query_location_level_name('单位'), :id, :name, { include_blank: (@resource.location.parent.name rescue true)}), class: 'col-md-3' %>
    <%= tag.div (manage_collection_select_field form, :location_id, Location.query_location_level_name('房间'), :id, :name, { include_blank: true }), class: 'col-md-3' %>
    <%= tag.div (manage_collection_select_field form, :event_id, Event.all, :id, :name, { include_blank: true }), class: 'col-md-3' %>
    <%= tag.div (manage_datetime_field form, :created_at), class: 'col-md-3' %>
    <%= tag.div (manage_datetime_field form, :active_at), class: 'col-md-3' %>
    <%= content_tag(:div, manage_select_field(form, :active, { '是' => true, '否' => false }, { include_blank: true }), class: 'col-md-3') %>
    <%= tag.div (manage_text_field form, :master_camera_capture_id), class: 'col-md-3' %>
    <%= tag.div (manage_text_field form, :problem_id), class: 'col-md-3' %>
  <% end %>
<% end %>

<% if action_name != 'new' %>
  <% content_for :event_evidences do %>

    <div class="btn btn-info btn-sm created-location-event-camera-capture-images" data-location-event-id="<%= @resource.id %>" style="position: absolute; top: 15px; right: 15px;">更新图片</div>
    <% capture_arr = [] %>
    <% @resource.camera_captures.each do |capture|%>
      <% capture_arr.push(capture.id) %>
    <% end %>

    <%= tag.div class: 'row' do %>
      <% CameraCapture.query_location_id(@resource.location_id).query_created_at_from(@resource.created_at.to_s).query_created_at_to(@resource.active_at.to_s).each do |camera_capture| %>
        <div class="col-3 mb-4 d-table">
          <img class="image-preview"  src="<%= camera_capture.img_data[:src] rescue ''%>" onerror="this.src='/admin/images/image_error.png'"/>
          <div data-camera-capture-id="<%= camera_capture.id %>" class="btn btn-sm camera_capture_select w-100 <%= (capture_arr.include? camera_capture.id) ? 'btn-success  camera_capture_selected' : '' %>"><%= camera_capture.created_at.strftime('%F %T') rescue nil %>&nbsp;&nbsp;&nbsp;<%= (capture_arr.include? camera_capture.id) ? '已选中' : '未选中' %></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= render 'manage/resources/form', form: form, sections: { information: '基本信息', event_evidences: '预警图片', } %>