<div class="location-events-container">
  <div class="map-container" id="location-events-map"></div>
  <div class="events-box">
    <div class="sidebar-title">
      <%= link_to checkpoint_location_events_path do %>
        <img class="title-img d-inline-block" src="/checkpoint/images/back.png"/>
      <% end %>
      预警详情
    </div>

    <div class="main-container">
      <div class="container-fluid">
      <div class="row" style="margin: 5px">
        <div class="col-7" >
          <div class="row sidebar-card">
            <div class="col-12">
                <div class="alert-card-title d-flex justify-content-between align-items-center">
                  <div class="alert-card-title1">
                    <img class="card-alert-img d-inline-block" src="/checkpoint/images/alert_red.png"/>
                    预警图像
                  </div>
                </div>
            </div>
            <div class="col-12 py-2">
              <img style="width: 100%; border-radius: 5px"  src="<%= @resource.master_camera_capture.img_data[:src] %>"/>
            </div>
          </div>
          <div class="row sidebar-card mt-3">
            <div class="col-12">
              <div class="alert-card-title d-flex justify-content-between align-items-center">
                <div class="alert-card-title1">
                  <img class="card-alert-img d-inline-block" src="/checkpoint/images/alert_yellow.png"/>
                  预警信息
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="alert-table">
                <table>
                  <tr>
                    <td style="width: 33%">地区</td>
                    <td style="width: 34%">单位信息</td>
                    <td style="width: 33%">预警类型</td>
                  </tr>
                  <tr style="color:#dba80f;">
                    <td><%= @resource.location.parent.parent.parent.name %></td>
                    <td><%= @resource.location.parent.name %></td>
                    <td><%= @resource.event.name %></td>
                  </tr>
                </table>
              </div>
            </div>
            <div class="col-12 my-2">
              <div class="alert-table">
                <table>
                  <tr>
                    <td style="width: 33%">发生点位</td>
                    <td style="width: 34%">发生时间</td>
                    <td style="width: 33%">持续时长</td>
                  </tr>
                  <tr style="color:#dba80f;">
                    <td><%= @resource.location.cameras[0].name %></td>
                    <td><%= @resource.created_at.strftime('%F %T') %></td>
                    <td><%= (distance_of_time_in_words(@resource.created_at, @resource.active_at, include_seconds: true)) %></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-5" >
          <div class="row">
            <div class="col-12 position-relative">
              <div class="sidebar-card container-right">
                <div class="alert-card-title d-flex justify-content-between align-items-center">
                  <div class="alert-card-title1">
                    <img class="card-alert-img d-inline-block" src="/checkpoint/images/alert_orange.png"/>
                    预警时间轴
                  </div>
                </div>
                <div class="alert-image-container">

                  <% @resource.camera_captures.order(created_at: :desc).each do |camera_capture| %>
                    <div>
                      <div class="alert-card-title d-flex justify-content-between align-items-center">
                        <div class="alert-card-title1" style="color: #e2e2e2 ">
                          <img class="card-alert-img d-inline-block" src="/checkpoint/images/alert_green.png"/>
                          <%= camera_capture.created_at.strftime('%F %T') %>
                        </div>
                      </div>
                      <div class="history-images-box">
                        <img style="width: 100%; border-radius: 5px;"  src="<%= camera_capture.img_data[:src] %>"/>
                      </div>
                    </div>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

</div>