<%= render 'layouts/manage/modal', modal_id: 'edit-location-modal', title: '更改地点' do %>
  <%= form_with(model: @resource, url: { action: :update }, local: false, html: { class: 'form-location' }) do |form| %>
    <%= tag.div class: 'modal-body' do %>
      <%= tag.div class: 'row' do %>
        <%= form.hidden_field :parent_id %>
        <%= tag.div (manage_text_field form, :name), class: 'col-md-12' %>
        <%= tag.div (manage_collection_select_field form, :parent_id, Location.joins(:location_level).where.not(location_levels: { name: '房间' }), :id, :name, { include_blank: true }), class: 'col-md-12' %>
        <%= tag.div (manage_collection_select_field form, :location_category_id, LocationCategory.all, :id, :name, { include_blank: true }), class: 'col-md-12' %>
        <%= tag.div (manage_collection_select_field form, :location_level_id, LocationLevel.all, :id, :name, { include_blank: true }), class: 'col-md-12' %>
        <%= content_tag(:div, manage_select_field(form, :location_type, human_attribute_enum(:location, Location.location_types, :location_type), {}), class: 'col-md-12') %>
        <%= tag.div (manage_text_field form, :lat), class: 'col-md-12' %>
        <%= tag.div (manage_text_field form, :lon), class: 'col-md-12' %>
        <div class="col-md-12">
          <div style="margin: 0 0 10px">
            <label for="location_lon">地图</label>
            <div class="location-upload-map-btn2 text-info"><%= @resource.map.filename.to_s.length > 0 ? @resource.map.filename : '点击上传地图JSON文件' %></div>
            <%= form.file_field  :map , class: 'location-form-control-map2', style:'display:none' %>
          </div>
        </div>
        <style>
            /*.select2-dropdown.select2-dropdown--below {*/
            /*    position: fixed;*/
            /*    top: 20px;*/
            /*    left: 20px;*/
            /*}*/
        </style>
        <%= tag.div (manage_collection_select_field form, :setting_event_ids, Event.all, :id, :name, { include_blank: true }, { multiple: true }), class: 'modal-select col-md-12' %>
      <% end %>
    <% end %>
    <%= tag.div class: 'modal-footer' do %>
      <%= button_tag '关闭', class: "btn btn-secondary", type: "button", "data-bs-dismiss": "modal" %>
      <%= submit_tag '提交', class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>