<% if params[:type] === 'tree' %>
  <div class="content">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h3 class="title mb-0">
          <i class="tim-icons icon-align-center pr-2"></i><%= @model.model_name.human %><%= t 'manage.resources.list' %>
        </h3>
        <div>
          <%= link_to url_for({ action: :index, type: '' }) do %>
            <button type="button" class="btn btn-primary upload-cameras-modal-button mr-2">
              切换模式
            </button>
          <% end %>
          <% if current_admin_user.source.role == 'superadmin' %>
            <button class="btn btn-success create-location-modal-button">
              <%= (t 'manage.resources.create') %>
            </button>
          <% end %>
        </div>
      </div>
      <div class="card-body" id="tree-root" style="min-height: 80vh;" data-id="<%= current_admin_user.source.location_id %>">
      </div>
    </div>
  </div>

  <%= render 'layouts/manage/modal', modal_id: 'create-location-modal', title: '创建地点' do %>
    <%= form_with(model: Location.new, url: { action: :create }, local: false, html: { class: 'form-resource' }) do |form| %>
      <%= tag.div class: 'modal-body' do %>
        <%= tag.div class: 'row' do %>
          <%= form.hidden_field :parent_id %>
          <%= tag.div (manage_text_field form, :name), class: 'col-md-12' %>
          <%= tag.div (manage_collection_select_field form, :location_category_id, LocationCategory.all, :id, :name, { include_blank: true }), class: 'col-md-12' %>
          <%= tag.div (manage_collection_select_field form, :location_level_id, LocationLevel.all, :id, :name, { include_blank: true }), class: 'col-md-12' %>
          <%= content_tag(:div, manage_select_field(form, :location_type, human_attribute_enum(:location, Location.location_types, :location_type), {}), class: 'col-md-12') %>
          <%= tag.div (manage_text_field form, :lat), class: 'col-md-12' %>
          <%= tag.div (manage_text_field form, :lon), class: 'col-md-12' %>
          <div class="col-md-12">
            <div style="margin: 0 0 10px">
              <label for="location_lon">地图</label>
              <div class="location-upload-map-btn text-info"><%= '点击上传地图JSON文件' %></div>
              <%= form.file_field  :map , class: 'location-form-control-map', style:'display:none' %>
            </div>
          </div>
          <%= tag.div (manage_collection_select_field form, :setting_event_ids, Event.all, :id, :name, { include_blank: true }, { multiple: true }), class: 'modal-select col-md-12' %>
        <% end %>
      <% end %>
      <%= tag.div class: 'modal-footer' do %>
        <%= button_tag '关闭', class: "btn btn-secondary", type: "button", "data-bs-dismiss": "modal" %>
        <%= submit_tag '提交', class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>

  <div id="edit-location-modal-container"></div>
<% else %>

  <% content_for :filter_form do %>
    <%= tag.div class: 'row' do %>
      <%= tag.div (manage_text_tag '名称', :query_name, params[:query_name]), class: 'col-md-3' %>
      <%= tag.div (manage_select_tag '场所等级', :query_location_level_id, params[:query_location_level_id], options_from_collection_for_select(LocationLevel.all, :id, :name), include_blank: '全部'), class: 'col-md-3' %>
      <%= tag.div (manage_select_tag '场所属性', :query_location_type, params[:query_location_type], options_for_select(human_attribute_enum(:location, Location.location_types, :location_type)), include_blank: '全部'), class: 'col-md-3' %>
      <%= tag.div (manage_select_tag '场所类型', :query_location_category_id, params[:query_location_category_id], options_from_collection_for_select(LocationCategory.all, :id, :name), include_blank: '全部'), class: 'col-md-3' %>
      <%= tag.div (manage_select_tag '已设置预警', :query_event_id, params[:query_event_id], options_from_collection_for_select(Event.all, :id, :name), include_blank: '全部'), class: 'col-md-3' %>
      <%= tag.div (manage_select_tag '下级场所', :query_parent_id, params[:query_parent_id], options_from_collection_for_select(Location.joins(:location_level).where.not(location_levels: { name: '房间' }).where(id: Location.find(current_admin_user.source.location.id).subtree_ids ), :id, :name, params: [:query_parent]), include_blank: '全部'), class: 'col-md-3' %>
      <%= tag.div (manage_select_tag '是否拥有设备', :query_physical, params[:query_physical], { '是' => true, '否' => false }, include_blank: '全部'), class: 'col-md-3' %>
    <% end %>
  <% end %>

  <% content_for :th do %>
    <%= tag.th Location.human_attribute_name(:name) %>
    <%= tag.th Location.human_attribute_name(:parent) %>
    <%= tag.th Location.human_attribute_name(:location_level) %>
    <%= tag.th Location.human_attribute_name(:location_type) %>
    <%= tag.th Location.human_attribute_name(:location_category_id) %>
    <%= tag.th Location.human_attribute_name(:physical) %>
    <%= tag.th Location.human_attribute_name(:events) %>
  <% end %>

  <% content_for :tools do %>
    <%= link_to url_for({ action: :index, type: 'tree' }) do %>
      <button type="button" class="btn btn-primary upload-cameras-modal-button mr-2">
        切换模式
      </button>
    <% end %>
  <% end %>

  <%= render 'manage/resources/index' do |resource| %>
    <%= tag.td resource.name %>
    <%= tag.td (resource.parent.name rescue nil) %>
    <%= content_tag(:td, (resource.location_level.name rescue nil)) %>
    <%= tag.td (t resource.location_type rescue nil) %>
    <%= tag.td (t resource.location_category.name rescue nil) %>
    <%= tag.td resource.physical === true ? '是' : '否' %>
    <td>
      <% resource.setting_events.each_with_index do |event, index| %>
        <%= event.name %><%= resource.setting_events.length - index != 1 ? '、' : '' %>
      <% end %>
    </td>
  <% end %>



<% end %>



