<% content_for :information do %>
  <%= tag.div class: 'row' do %>
    <%= tag.div (manage_text_field form, :name), class: 'col-md-3' %>
    <%= tag.div (manage_text_field form, :nickname), class: 'col-md-3' %>
    <%= tag.div (manage_text_field form, :confidence), class: 'col-md-3' %>
    <%= tag.div (manage_text_field form, :interval), class: 'col-md-3' %>
    <%= tag.div (manage_number_field form, :tolerance), class: 'col-md-3' %>
    <%= tag.div (manage_number_field form, :problem_tolerance), class: 'col-md-3' %>
    <%= tag.div (manage_number_field form, :observation), class: 'col-md-3' %>
    <%= content_tag(:div, manage_select_field(form, :notify, { '是' => true, '否' => false }, { include_blank: true }), class: 'col-md-3') %>
    <%= content_tag(:div, manage_select_field(form, :enabled, { '是' => true, '否' => false }, { include_blank: true }), class: 'col-md-3') %>
    <%= content_tag(:div, manage_select_field(form, :if_holiday, { '是' => true, '否' => false }, { include_blank: true }), class: 'col-md-3') %>
    <%= content_tag(:div, manage_select_field(form, :if_video, { '是' => true, '否' => false }, { include_blank: true }), class: 'col-md-3') %>


    <% problem_category_paths = form.object.problem_category ? form.object.problem_category.path : nil %>
    <%= tag.div (manage_collection_select_tag '问题大类', :problem_category_0, problem_category_paths ? problem_category_paths[0].id : nil, ProblemCategory.roots, :id, :name, { include_blank: true }), class: 'col-md-3' %>
    <%= tag.div (manage_collection_select_tag '问题中类', :problem_category_1, problem_category_paths ? problem_category_paths[1].id : nil, problem_category_paths ? problem_category_paths[0].children : [], :id, :name, { include_blank: true }), class: 'col-md-3' %>
    <%= tag.div (manage_collection_select_tag '问题小类', :problem_category_2, problem_category_paths ? problem_category_paths[2].id : nil, problem_category_paths ? problem_category_paths[1].children : [], :id, :name, { include_blank: true }), class: 'col-md-3' %>
    <%= tag.div (manage_collection_select_field form, :problem_category_id, problem_category_paths ? problem_category_paths[2].children : [], :id, :name, { include_blank: true }), class: 'col-md-3' %>

  <% end %>
<% end %>


<% content_for :event_time_ranges do %>
  <%= tag.div class: 'row' do %>
    <div class="col-md-12">

      <div class="row event_time_ranges">
        <% form.object.event_time_ranges.each do |event_time_range| %>
          <%= form.fields_for :event_time_ranges, event_time_range do |f| %>
            <%= render 'event_time_range_fields', :f => f %>
          <% end %>
        <% end %>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <%= link_to_add_association '添加时段', form, :event_time_ranges, "data-association-insertion-method": 'append', "data-association-insertion-node": '.event_time_ranges', class: 'btn btn-block btn-outline-dark' %>
        </div>
      </div>

    </div>
  <% end %>
<% end %>

<%= render 'manage/resources/form', form: form, sections: { information: '基本信息', event_time_ranges: '事件时间范围' } %>