<% content_for :bottom_content do %>
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">
        设置详情
      </h5>
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <td>
            <%= Event.human_attribute_name(:start_time) %>
          </td>
          <td>
            <%= Event.human_attribute_name(:end_time) %>
          </td>
        </tr>
        <% @resource.event_time_ranges.each do |event_time_range| %>
          <tr>
            <td>
              <%= event_time_range.start_time.strftime('%T') %>
            </td>
            <td>
              <%= event_time_range.end_time.strftime('%T') %>
            </td>
          </tr>
        <% end %>

        <tr>
          <td>
            <%= Event.human_attribute_name(:tolerance) %>
          </td>
          <td>
            <%= Event.human_attribute_name(:interval) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= @resource.tolerance %>
          </td>
          <td>
            <%= @resource.interval %>
          </td>
        </tr>

      </table>
    </div>
  </div>
<% end %>

<%= render 'manage/resources/show' do |resource| %>
  <%= content_tag(:tr, content_tag(:td, Event.human_attribute_name(:name)) + content_tag(:td, resource.name)) %>
  <%#= content_tag(:tr, content_tag(:td, Event.human_attribute_name(:nickname)) + content_tag(:td, resource.nickname)) %>
  <%= content_tag(:tr, content_tag(:td, Event.human_attribute_name(:problem_category_id)) + content_tag(:td, (resource.problem_category.name rescue nil))) %>
  <%= content_tag(:tr, content_tag(:td, Event.human_attribute_name(:enabled)) + content_tag(:td, resource.enabled === true ? '是' : '否')) %>
  <%= content_tag(:tr, content_tag(:td, Event.human_attribute_name(:if_holiday)) + content_tag(:td, (resource.if_holiday ? '是' : '否'))) %>
  <%= content_tag(:tr, content_tag(:td, Event.human_attribute_name(:if_video)) + content_tag(:td, (resource.if_video ? '是' : '否'))) %>

  <%= content_tag(:tr, content_tag(:td, Event.human_attribute_name(:confidence)) + content_tag(:td, "#{(resource.confidence * 100).round}" + '%')) %>
  <%= content_tag(:tr, content_tag(:td, Event.human_attribute_name(:tolerance)) + content_tag(:td, resource.tolerance)) %>
  <%= content_tag(:tr, content_tag(:td, Event.human_attribute_name(:problem_tolerance)) + content_tag(:td, resource.problem_tolerance)) %>
  <%= content_tag(:tr, content_tag(:td, Event.human_attribute_name(:observation)) + content_tag(:td, resource.observation)) %>
  <%= content_tag(:tr, content_tag(:td, Event.human_attribute_name(:created_at)) + content_tag(:td, resource.created_at.strftime('20%y-%m-%d %H:%M:%S'))) %>
<% end %>