<div id="problem-map-modal-container"></div>

<%= render 'layouts/manage/newest_alert' %>
<%= render 'layouts/manage/newest_problem' %>
<%= render 'layouts/manage/newest_info' %>

<div class="fixed-plugin" style="top: 200px!important; width: 45px!important;">
  <div class="dropdown show-dropdown" style="width: 45px!important;">
    <a href="#" data-toggle="modal" data-target="#newest-alert-modal">
      <i class=" p-1 fa fa-bell fa-2x"> </i>
    </a>
  </div>
</div>

<div class="fixed-plugin" style="top: 270px!important; width: 45px!important;">
  <div class="dropdown show-dropdown" style="width: 45px!important;">
    <a href="#" data-toggle="modal" data-target="#newest-problem-modal">
      <i class="p-1 fa fa-cube fa-2x"> </i>
    </a>
  </div>
</div>

<div class="fixed-plugin" style="top: 340px!important; width: 45px!important;">
  <div class="dropdown show-dropdown" style="width: 45px!important;">
    <a href="#" data-toggle="modal" data-target="#newest-info-modal">
      <i class="p-1 fa fa-list fa-2x" style="color: whitesmoke"> </i>
    </a>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-warning">
                <i class="tim-icons icon-shape-star"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">辖区房间总数</p>
                <h3 class="card-title"><%= current_admin_user.source.location.descendant_ids.size %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <i class="tim-icons icon-refresh-01"></i>截止到刚刚
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-primary">
                <i class="tim-icons icon-camera-18"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">辖区监控总数</p>
                <h3 class="card-title"><%= current_admin_user.source.location.all_descendant_cameras.size %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <i class="tim-icons icon-sound-wave"></i>截止到刚刚
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-success">
                <i class="tim-icons icon-chat-33"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">督察涵盖问题</p>
                <h3 class="card-title"><%= ProblemCategory.all.size rescue 0 %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <i class="tim-icons icon-trophy"></i>截止到刚刚
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-danger">
                <i class="tim-icons icon-molecule-40"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">发现问题总数</p>
                <h3 class="card-title"><%= current_admin_user.source.location.all_descendant_problems.size rescue 0 %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <i class="tim-icons icon-watch-time"></i>截止到刚刚
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">本月督察数据</h5>
          <h3 class="card-title">问题分析</h3>
        </div>
        <div class="card-body" style="height: 29vh">
          <div id="dashboard-chart-problem-analysis-pie" style="width: 100%; height: 100%"></div>
        </div>
      </div>

      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">摄像头在线情况统计</h5>
        </div>
        <div class="card-body" style="height: 16vh">
          <div class="row">
            <div class="col-6">
              <div class="chart-area">
                <div id="dashboard-chart-camera-pie" style="width: 100%; height: 100%"></div>
              </div>
            </div>
            <div class="col-6">
              <h4 class="card-title"><i class="tim-icons icon-video-66 text-success "></i>
                在线 <%= Camera.accessible_by(current_ability, :read).where(status: 'normal').size %></h4>
              <h4 class="card-title"><i class="tim-icons icon-video-66 text-danger "></i>
                离线 <%= Camera.accessible_by(current_ability, :read).where(status: 'offline').size %></h4>
              <h4 class="card-title">
                <i class="tim-icons icon-video-66 text-warning"></i>
                低质量 <%= Camera.accessible_by(current_ability, :read).where(status: 'corrupted').size %></h4>
              <p class="category" style="padding-top: 10px;">共计 <%= Camera.accessible_by(current_ability, :read).all.size %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">地区问题总览</h5>
            </div>
            <div class="col-sm-6">
              <div class="btn-group btn-group-toggle float-right offFlow" data-toggle="buttons">
                <label class="btn btn-sm btn-success btn-simple active home-map-tab-button" data-map-tag="day">
                  <input type="radio" name="options" checked>
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">日总览</span>
                  <span class="d-block d-sm-none">
                          <i class="tim-icons icon-single-02"></i>
                        </span>
                </label>
                <label class="btn btn-sm btn-success btn-simple home-map-tab-button" data-map-tag="week">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">周总览</span>
                  <span class="d-block d-sm-none">
                          <i class="tim-icons icon-gift-2"></i>
                        </span>
                </label>
                <label class="btn btn-sm btn-success btn-simple home-map-tab-button" data-map-tag="month">
                  <input type="radio" class="d-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">月总览</span>
                  <span class="d-block d-sm-none">
                          <i class="tim-icons icon-tap-02"></i>
                        </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body" style="height: calc(45vh + 101px)">
          <div id="dashboard-chart-map" style="width: 100%; height: 100%">
            <div class="d-flex align-items-center justify-content-center" style="height: calc(35vh + 101px)">
              <div class="system-overview-table-loading"></div>
              <div class="text-info ml-2">数据正在加载中，请稍后...</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card card-chart">
        <div class="card-header col-sm-6">
          <h5 class="card-category">每日巡查情况</h5>
          <h3 class="card-title">实时汇总</h3>
        </div>
        <div class="card-body" style="height: 29vh">
          <div id="dashboard-chart-capture-line" style="width: 100%; height: 100%">
            <div class="d-flex align-items-center justify-content-center" style="height: 20vh">
              <div class="system-overview-table-loading"></div>
              <div class="text-info ml-2">数据正在加载中，请稍后...</div>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">督察预警准确率分析</h5>
        </div>
        <div class="card-body" style="height: 16vh">
          <div class="row">
            <div class="col-6">
              <div class="chart-area">
                <div id="dashboard-chart-alert-pie" style="width: 100%; height: 100%"></div>
              </div>
            </div>
            <div class="col-6">
              <h4 class="card-title"><i class="tim-icons icon-bell-55 text-success "></i>
                有效 <%= LocationEvent.accessible_by(current_ability, :read).where(active: true).size %></h4>
              <h4 class="card-title"><i class="tim-icons icon-bell-55 text-danger "></i>
                无效 <%= LocationEvent.accessible_by(current_ability, :read).where(active: false).size %></h4>
              <p class="category" style="padding-top: 20px;">共计 <%= LocationEvent.accessible_by(current_ability, :read).all.size %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">地区问题</h5>
              <h3 class="card-title">问题数量统计</h3>
            </div>
            <div class="col-sm-6">
              <div class="btn-group btn-group-toggle float-right offFlow" data-toggle="buttons">
                <label class="btn btn-sm btn-info btn-simple active home-division-bar-tab-button" data-division-tag="day">
                  <input type="radio" name="options" checked>
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">日统计</span>
                  <span class="d-block d-sm-none">
                          <i class="tim-icons icon-single-02"></i>
                        </span>
                </label>
                <label class="btn btn-sm btn-info btn-simple home-division-bar-tab-button" data-division-tag="week">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">周统计</span>
                  <span class="d-block d-sm-none">
                          <i class="tim-icons icon-gift-2"></i>
                        </span>
                </label>
                <label class="btn btn-sm btn-info btn-simple home-division-bar-tab-button" data-division-tag="month">
                  <input type="radio" class="d-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">月统计</span>
                  <span class="d-block d-sm-none">
                          <i class="tim-icons icon-tap-02"></i>
                        </span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="card-body" style="height: 29vh">
          <div id="dashboard-chart-region-statistics-bar" style="width: 100%; height: 100%"></div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <div class="row">
            <div class="col-sm-6 text-left">
              <h5 class="card-category">督察问题</h5>
              <h3 class="card-title">问题流量统计</h3>
            </div>
            <div class="col-sm-6">
              <div class="btn-group btn-group-toggle float-right offFlow" data-toggle="buttons">
                <label class="btn btn-sm btn-primary btn-simple active home-problem-line-tab-button" data-problem-tag="day">
                  <input type="radio" name="options" checked>
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">日流量</span>
                  <span class="d-block d-sm-none">
                          <i class="tim-icons icon-single-02"></i>
                        </span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple home-problem-line-tab-button" data-problem-tag="week">
                  <input type="radio" class="d-none d-sm-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">周流量</span>
                  <span class="d-block d-sm-none">
                          <i class="tim-icons icon-gift-2"></i>
                        </span>
                </label>
                <label class="btn btn-sm btn-primary btn-simple home-problem-line-tab-button" data-problem-tag="month">
                  <input type="radio" class="d-none" name="options">
                  <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">月流量</span>
                  <span class="d-block d-sm-none">
                          <i class="tim-icons icon-tap-02"></i>
                        </span>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body" style="height: 29vh">
          <div id="dashboard-chart-flow-statistics-line" style="width: 100%; height: 100%"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="tools float-right">
            <div class="dropdown">
              <!--              <button type="button" class="btn btn-default dropdown-toggle btn-link btn-icon" data-toggle="dropdown">-->
              <!--                <i class="tim-icons icon-settings-gear-63"></i>-->
              <!--              </button>-->
              <!--              <div class="dropdown-menu dropdown-menu-right">-->
              <!--                <a class="dropdown-item" href="#">Action</a>-->
              <!--                <a class="dropdown-item" href="#">Another action</a>-->
              <!--                <a class="dropdown-item" href="#">Something else here</a>-->
              <!--                <a class="dropdown-item text-danger" href="#">Remove Data</a>-->
              <!--              </div>-->
            </div>
          </div>
          <h4 class="card-title">督察情况及系统概况</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive" id="home-system-overview-container">
            <div class="d-flex align-items-center justify-content-center" style="height: 30vh">
              <div class="system-overview-table-loading"></div>
              <div class="text-info ml-2">数据正在加载中，请稍后...</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="get-map-json-hide" style="display: none"></div>
</div>
