<div class="modal fade" id="problem-map-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" style="background-color: #262a3c">
          <div class="modal-header">
            <h4 class="modal-title text-danger text-center" id="exampleModalCenterTitle">
              <%= params[:name] %>督察问题总览</span>
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true" style="color: #fc4f00!important;">&times;</span>
            </button>
          </div>
          <div class="modal-body text-white">
            <div class="table-full-width">
              <table class="table">
                <thead class="text-primary">
                <tr>
                  <th>问题名称</th>
                  <th>单位</th>
                  <th style="width: 25%">生成时间</th>
                  <th>问题快照</th>
                  <th class="text-right">查看</th>
                </tr>
                </thead>
                <tbody>
                  <%@resources.each do |problem| %>
                    <tr>
                      <td><%= (problem.problem_category.name rescue nil)%></td>
                      <td>
                        <% LocationLevel.where('index < 4 AND index > ?', current_admin_user.source.location.location_level.index).each do |location_level| %>
                          <%= (problem.location.path.where(location_level: location_level).first.name rescue nil)%>
                        <% end %>
                      </td>
                      <td><%= (problem.issued_at.strftime('%F %T') rescue nil)%></td>
                      <td><%= (image_tag problem.problem_evidences.last.img_data[:src], height: '80px', class: 'image-preview' rescue nil)%></td>
                      <td class="text-right">
                        <%= link_to url_for({controller: 'admin/problems', action: :show, id: problem.id},), target: '_blank' do %>
                          <div class="btn btn-success btn-sm">查看</div>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              <% if @resources.length == 0  %>
                <div class="text-center text-info">
                  暂无问题数据
                </div>
              <% end %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">返回</button>
          </div>
    </div>
  </div>
</div>




