<% content_for :information do %>
  <% if params[:view] == nil %>
    <%= tag.div class: 'row' do %>

      <% problem_category_paths = form.object.problem_category ? form.object.problem_category.path : nil %>
      <%= tag.div (manage_collection_select_tag '问题大类', :problem_category_0, problem_category_paths ? problem_category_paths[0].id : nil, ProblemCategory.roots, :id, :name, { include_blank: true }), class: 'col-md-3' %>
      <%= tag.div (manage_collection_select_tag '问题中类', :problem_category_1, problem_category_paths ? problem_category_paths[1].id : nil, problem_category_paths ? problem_category_paths[0].children : [], :id, :name, { include_blank: true }), class: 'col-md-3' %>
      <%= tag.div (manage_collection_select_tag '问题小类', :problem_category_2, problem_category_paths ? problem_category_paths[2].id : nil, problem_category_paths ? problem_category_paths[1].children : [], :id, :name, { include_blank: true }), class: 'col-md-3' %>
      <%= tag.div (manage_collection_select_field form, :problem_category_id, problem_category_paths ? problem_category_paths[2].children : [], :id, :name, { include_blank: true }), class: 'col-md-3' %>

      <%= manage_hidden_field form, :admin_id, current_admin_user.source.id if action_name == 'new' %>
      
      <%= tag.div (manage_collection_select_field form, :location_id, Location.query_location_level_name('单位'), :id, :name, { include_blank: true }), class: 'col-md-3' %>

      <%= content_tag(:div, manage_select_field(form, :discover_type, human_attribute_enum(:problem, Problem.discover_types, :discover_type), {}), class: 'col-md-3') if action_name == 'new' || (can? :edit, @resource) %>
      <%= content_tag(:div, manage_select_field(form, :problem_status, human_attribute_enum(:problem, Problem.problem_statuses, :problem_status), {}), class: 'col-md-3') if action_name == 'new' || (can? :edit, @resource) %>

      <%= tag.div (manage_datetime_field form, :issued_at), class: 'col-md-3' %>
      <%= tag.div (manage_datetime_field form, :active_at), class: 'col-md-3' %>

      <%= tag.div (manage_text_area_field form, :note), class: 'col-md-12' %>
    <% end %>
  <% end %>

  <% if params[:view] == 'correction' %>
    <%= tag.div (manage_text_field form, :corrected_admin), class: 'col-md-6' %>
    <%= tag.div (manage_datetime_field form, :corrected_at), class: 'col-md-6' %>
    <%= tag.div (manage_text_area_field form, :corrected_note), class: 'col-md-12' %>
    <%= manage_hidden_field form, :problem_status, :corrected %>
  <% end %>

  <% if params[:view] == 'invalidp' %>
    <%= tag.div (manage_text_field form, :negated_admin), class: 'col-md-6' %>
    <%= tag.div (manage_datetime_field form, :negated_at), class: 'col-md-6' %>
    <%= tag.div (manage_text_area_field form, :negated_note), class: 'col-md-12' %>
    <%= manage_hidden_field form, :problem_status, :reviewing %>
  <% end %>

  <% if params[:view] == 'reviewing' %>
    <%= tag.div (manage_text_field form, :reviewing_admin), class: 'col-md-6' %>
    <%= tag.div (manage_datetime_field form, :reviewing_at), class: 'col-md-6' %>
    <%= tag.div (manage_text_area_field form, :reviewing_note), class: 'col-md-12' %>
    <%= manage_hidden_field form, :problem_status, :correcting %>
  <% end %>

<% end %>


<%# @resource.build_user unless @resource.user %>

<%#= form.fields_for :user do |f| %>

<%# end %>
<% if params[:view] == nil %>
  <% content_for :problem_evidences do %>
    <div class="row">
      <div class="col-md-12">
        <%= render 'manage/resources/dropzone', name: 'problem_evidence', params: { problem_id: form.object.id }, field: 'img' %>
      </div>
      <div class="col-md-12">
        <div class="row problem_evidences sortable">
          <% form.object.problem_evidences.each do |img| %>
            <%= form.fields_for :problem_evidences, img do |f| %>
              <%= render 'problem_evidence_fields', :f => f %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end if action_name == 'edit' %>
<% end %>

<% content_for :problem_corrections do %>
  <div class="row">
    <div class="col-md-12">
      <%= render 'manage/resources/dropzone', name: 'problem_correction', params: { problem_id: form.object.id }, field: 'img' %>
    </div>
    <div class="col-md-12">
      <div class="row problem_corrections sortable">
        <% form.object.problem_corrections.each do |img| %>
          <%= form.fields_for :problem_corrections, img do |f| %>
            <%= render 'problem_correction_fields', :f => f %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end if action_name == 'edit' && params[:view] == 'correction' %>

<%= render 'manage/resources/form', form: form, sections: { information: '基本信息', problem_evidences: '问题图片', problem_corrections: '整改图片' } %>

<%= render 'admin/problems/change_evidence_time' %>