<div class="col-md-12 nested-fields" id="<%= f.object.sortable_id rescue nil %>">
  <div class="row">

    <div class="col-md-1 d-flex justify-content-center align-items-center">
      <i class="fas fa-arrows-alt sortable-handle"></i>
    </div>

    <div class="col-md-2 d-flex  align-items-center justify-content-center">
      <div class="row">
        <%= link_to f.object.img.filename, f.object.img rescue nil %>
      </div>
    </div>

    <div class="col-md-3 d-flex  align-items-center justify-content-center">
      <div class="row">
        <%= image_tag f.object.img, height: '100px' rescue nil %>
      </div>
    </div>

    <div class="col-md-2 d-flex  align-items-center justify-content-center">
      <div class="row" id="data-evidence-<%=f.object.id %>">
        <%= f.object.created_at.strftime('%F %T')  rescue nil %>
      </div>
    </div>

<!--    <div class="col-md-2 d-flex  align-items-center justify-content-center">-->
<!--      <div class="row">-->
        <%#= link_to f.object.img.filename, f.object.img rescue nil %>
<!--      </div>-->
<!--    </div>-->

    <div class="col-md-3 d-flex justify-content-end align-items-center">
      <% if current_admin_user.source.role == 'superadmin' %>
        <div class="btn btn-warning mr-2 change-evidence-time-modal-button" data-evidence-img-id="<%= f.object.id  rescue nil %>" data-problem-id=<%= @resource.id rescue nil%> >修改</div>
      <% end %>
      <%= link_to_remove_association '删除', f, class: 'btn btn-danger' %>
    </div>

  </div>
  <hr>
</div>

