<% content_for :filter_form do %>
  <%= tag.div class: 'row' do %>
    <% LocationLevel.where('index > ?', current_admin_user.source.location.location_level.index).each do |location_level| %>
      <%= tag.div (manage_collection_select_tag location_level.name, "query_location_id_#{location_level.index}", params["query_location_id_#{location_level.index}"],
                                                Location.where(id: Location.find(current_admin_user.source.location.id).subtree_ids ).where(location_levels: location_level), :id, :name, { include_blank: '全部' }), class: 'col-md-3' %>
    <% end %>
    <%= tag.div (manage_collection_select_tag '场所类型', :query_location_category_ids, params[:query_location_category_ids], LocationCategory.where(ancestry: nil), :id, :name, { include_blank: '全部' }), class: 'col-md-3' %>
    <%= tag.div (manage_collection_select_tag '房间类型', :query_location_category_id, params[:query_location_category_id], LocationCategory.where.not(ancestry: nil), :id, :name, { include_blank: '全部' }), class: 'col-md-3' %>
    <%= tag.div (manage_select_tag '问题类型', :query_problem_category_id, params[:query_problem_category_id], options_from_collection_for_select(ProblemCategory.all, :id, :name), include_blank: '全部'), class: 'col-md-3' %>
    <%= tag.div (manage_select_tag '创建人', :query_admin_id, params[:query_admin_id], options_from_collection_for_select(Admin.all, :id, :full_name), include_blank: '全部'), class: 'col-md-3' %>
    <%= tag.div (manage_datetime_tag '开始时间', :query_from_date, params[:query_from_date]), class: 'col-md-3' %>
    <%= tag.div (manage_datetime_tag '结束时间', :query_to_date, params[:query_to_date]), class: 'col-md-3' %>
    <%= tag.div (manage_select_tag '发现类型', :query_discover_type, params[:query_discover_type], options_for_select(human_attribute_enum(:problem, Problem.discover_types, :discover_type)), include_blank: '全部'), class: 'col-md-3' %>
    <%= tag.div (manage_select_tag '问题状态', :query_problem_status, params[:query_problem_status], options_for_select(human_attribute_enum(:problem, Problem.problem_statuses, :problem_status)), include_blank: '全部'), class: 'col-md-3' %>
    <%= tag.div (manage_select_tag '问题等级', :query_problem_category_level, params[:query_problem_category_level], options_for_select(human_attribute_enum(:problem_category, ProblemCategory.levels, :level)), include_blank: '全部'), class: 'col-md-3' %>
  <% end %>
<% end %>

<% content_for :th do %>
  <%= tag.th Problem.human_attribute_name(:problem_status) %>
  <%= tag.th Problem.human_attribute_name(:discover_type) %>
  <% LocationLevel.where('index < 4 AND index > ?', current_admin_user.source.location.location_level.index).each do |location_level| %>
    <%= tag.th location_level.name %>
  <% end %>
  <%= tag.th Problem.human_attribute_name(:admin) %>
  <%= tag.th Problem.human_attribute_name(:problem_category) %>
  <%= tag.th Problem.human_attribute_name(:issued_at) %>
  <%= tag.th Problem.human_attribute_name(:img) %>
<% end %>


<%= render 'manage/resources/index' do |resource| %>
  <td>
    <button class="<%= resource.problem_status == 'waiting' ? 'btn btn-primary btn-sm' : resource.problem_status == 'correcting' ? 'btn btn-danger btn-sm' : resource.problem_status == 'negated' ? 'btn btn-sm btn-delete' : resource.problem_status == 'reviewing' ? 'btn btn-success btn-sm' : 'btn btn-warning btn-sm' %>">
      <%= t resource.problem_status %>
    </button>
  </td>
  <%= tag.td (t resource.discover_type rescue nil) %>
  <% LocationLevel.where('index < 4 AND index > ?', current_admin_user.source.location.location_level.index).each do |location_level| %>
    <%= content_tag(:td, (resource.location.path.where(location_level: location_level).first.name rescue nil)) %>
  <% end %>
  <%= tag.td (resource.admin.full_name rescue nil) %>
  <td><span class="<%= resource.problem_category.level == 'general' ? 'text-warning' : resource.problem_category.level == 'serious' ? 'text-danger' : 'text-success' rescue nil %> font-weight-bolder"><%= resource.problem_category.name rescue nil %></span></td>
  <%= tag.td (resource.issued_at.strftime('%F %T') rescue nil) %>
  <%= content_tag(:td, (image_tag resource.problem_evidences.last.img_data[:src], height: '100', class: 'image-preview' rescue nil)) %>
<% end %>