<table class="table table-responsive-sm table-striped">
  <thead>
  <tr>
    <%= tag.th Problem.human_attribute_name(:problem_status) %>
    <%= tag.th Problem.human_attribute_name(:discover_type) %>
    <%= tag.th Problem.human_attribute_name(:problem_category) %>
    <% LocationLevel.where('index < 4 AND index > ?', current_admin_user.source.location.location_level.index).each do |location_level| %>
      <%= tag.th location_level.name %>
    <% end %>
    <%= tag.th Problem.human_attribute_name(:admin) %>
    <%= tag.th Problem.human_attribute_name(:issued_at) %>
    <%= tag.th Problem.human_attribute_name(:img) %>
  </tr>
  </thead>

  <tbody>
  <% @resources_all.each do |resource| %>
    <%= content_tag :tr do %>
      <td>
        <button class="<%= resource.problem_status == 'waiting' ? 'btn btn-primary btn-sm' : resource.problem_status == 'correcting' ? 'btn btn-danger btn-sm' : resource.problem_status == 'negated' ? 'btn btn-sm btn-delete' : resource.problem_status == 'reviewing' ? 'btn btn-success btn-sm' : 'btn btn-warning btn-sm' %>">
          <%= t resource.problem_status %>
        </button>
      </td>
      <%= content_tag(:td, (t resource.discover_type rescue nil)) %>
      <%= content_tag(:td, (resource.problem_category.name rescue '未设置问题类型')) %>
      <% LocationLevel.where('index < 4 AND index > ?', current_admin_user.source.location.location_level.index).each do |location_level| %>
        <%= content_tag(:td, (resource.location.path.where(location_level: location_level).first.name rescue nil)) %>
      <% end %>
      <%= content_tag(:td, (resource.admin.full_name rescue nil)) %>
      <%= content_tag(:td, (resource.issued_at.strftime('%F %T') rescue nil)) %>
      <%= content_tag(:td, (image_tag resource.problem_evidences.last.img_data[:src], height: '100', class: 'image-preview' rescue nil)) %>
    <% end %>
  <% end %>
  </tbody>
</table>