<%= render 'layouts/manage/modal', modal_id: 'edit-event-camera-modal', title: '编辑监控事件', size: 'lg' do %>
  <%= tag.div class: 'modal-body' do %>
    <%= form_with(model: @resource, url: { controller: :event_cameras, action: :update, id: @resource.id }, local: false, html: { class: 'form-resource' }) do |form| %>

      <div id="camera-position-container"
           style="width: 100%; border: 1px dashed lightgrey;
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
             background-image: url('<%= @resource.camera.master_camera_capture.img_data[:src] rescue nil %>')"></div>

      <div class="row mt-3">
        <div class="col-md-3">
          <button type="button" class="btn btn-block btn-danger btn-box-camera-position" data-target="#event_camera_box_a">
            A区域
          </button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-block btn-danger btn-box-camera-position" data-target="#event_camera_box_b">
            B区域
          </button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-block btn-warning btn-line-camera-position" data-target="#event_camera_line_a">
            A线
          </button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-block btn-warning btn-line-camera-position" data-target="#event_camera_line_b">
            B线
          </button>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-3">
          <button type="button" class="btn btn-block btn-danger btn-box-camera-position" data-target="#event_camera_box_c">
            C区域
          </button>
        </div>
        <div class="col-md-3">
          <button type="button" class="btn btn-block btn-danger btn-box-camera-position" data-target="#event_camera_box_d">
            D区域
          </button>
        </div>
        <div class="col-md-3">
          <%= form.number_field :confidence, placeholder: '灵敏度', class: 'form-control' %>
        </div>

        <div class="col-md-3">
          <%= form.hidden_field :box_a %>
          <%= form.hidden_field :box_b %>
          <%= form.hidden_field :box_c %>
          <%= form.hidden_field :box_d %>
          <%= form.hidden_field :line_a %>
          <%= form.hidden_field :line_b %>

          <%= form.submit (t 'manage.resources.save'), class: 'btn btn-success btn-block' %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>