<div class="card">
  <div class="card-header ">
    <div class="d-flex justify-content-between align-items-center">
      <h3 class=title"><i class="tim-icons icon-zoom-split pr-2"></i><%= @model.model_name.human %><%= t 'manage.resources.filter' %></h3>
    </div>
  </div>

  <div class="card-body">
    <%= form_tag(url_for({}), method: :get) do %>

      <%= yield %>

      <div class="row">
        <div class="col-md-12 text-center">
          <%= submit_tag (t 'manage.resources.search'), name: nil, class: 'btn btn-info' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
