<div class="content">

  <% if content_for?(:filter_form) %>
    <%= render 'manage/resources/filter' do %>
      <%= yield :filter_form %>
    <% end %>
  <% end %>

  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="title mb-0">
          <i class="tim-icons icon-align-center pr-2"></i><%= @model.model_name.human %><%= t 'manage.resources.list' %>
        </h3>

        <div class=" d-flex flex-row">
          <%= yield :tools if content_for?(:tools) %>
          <div class="btn btn-warning mr-2" style="display: none;" id="resources-select-all" href="#"> <%= '本页全部选中' %> </div>
          <a class="btn btn-danger mr-2" style="display: none;" id="resources-destroy-all" data-co> <%= t '删除选中数据' %> </a>
          <!--          <a class="btn btn-danger mr-2" style="display: none;" id="resources-destroy-all" data-co> <%#= t 'manage.resources.destroy_all_selected' %> </a>-->
          <%= link_to (t 'manage.resources.create'), url_for({ action: :new }), class: 'btn btn-success' if (can? :create, @model) %>
        </div>

      </div>
    </div>
    <div class="card-body">
      <% if @resources.length == 0 %>
        <h4 class="text-center my-5 py-3"><%= t 'manage.resources.empty_table' %></h4>
      <% else %>
        <table class="table table-responsive-sm table-striped">
          <thead>
          <tr>
            <% if can? :destroy, @model %>
              <th width="5%" class="text-center"><%= '选择' %></th>
            <% end %>
            <%= yield :th %>
            <th class="text-right" width="10%"><%= t 'manage.resources.actions' %></th>
          </tr>
          </thead>
          <tbody>
          <% if content_for?(:tb) %>
            <%= yield :tb %>
          <% else %>
            <% @resources.each do |resource| %>
              <tr>
                <% if can? :destroy, resource %>
                  <td class="text-center">
                    <%= check_box_tag :resource_selection, true, false, id: "resource-selection-#{resource.id}", 'data-id': resource.id %>
                  </td>
                <% end %>
                <%= yield resource %>
                <td class="text-right">
                  <% if can? :read, resource %>
                    <%= link_to url_for({ action: :show, id: resource.id, :page => (params[:page] ? params[:page] : 1) }), class: 'btn btn-link btn-info btn-icon btn-sm' do %>
                      <i class="tim-icons icon-double-right"></i>
                    <% end %>
                  <% end %>
                  <% if can? :update, resource %>
                    <%= link_to url_for({ action: :edit, id: resource.id }), class: 'btn btn-link btn-warning btn-icon btn-sm' do %>
                      <i class="tim-icons icon-pencil"></i>
                    <% end %>
                  <% end %>
                  <% if can? :destroy, resource %>
                    <%= link_to ({ action: :destroy, id: resource.id, page: params[:page] }), method: :delete, data: { confirm: '确认删除该条数据录吗？' }, class: 'btn btn-link btn-danger btn-icon btn-sm' do %>
                      <i class="tim-icons icon-simple-remove"></i>
                    <% end %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
    <div class="card-footer">
      <%= paginate @resources, views_prefix: 'manage' %>
    </div>
  </div>

</div>