<div class="content">

  <%= render 'manage/resources/nav' %>

  <div class="row">
    <div class="<%= (local_assigns.has_key? :content_class) ? content_class : 'col-md-6' %>">

      <% if content_for?(:content) %>
        <%= yield :content %>
      <% else %>
        <div class="card">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <h4 class="card-title">基本信息</h4>
            </div>
          </div>

          <div class="card-body">
            <table class="table table-striped table-responsive-sm">
              <tbody>
              <%= yield @resource %>
              </tbody>
            </table>
          </div>
        </div>

        <% if content_for?(:left_content) %>
          <%= yield :left_content %>
        <% end %>


      <% end %>

      <%= yield :bottom_content if content_for?(:bottom_content) %>
    </div>

    <% if content_for?(:right_content) %>
      <div class="<%= (local_assigns.has_key? :right_content_class) ? right_content_class : 'col-md-6' %>">
        <%= yield :right_content %>
      </div>
    <% end %>

  </div>

</div>
