<!-- Problem Modal -->
<div class="modal fade modal-black" id="newest-info-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title text-success">问题概况跨时段统计分析</h3>
        <div style="position: absolute; right: 70px; top: 15px" class="btn-group btn-group-toggle float-right offMap" data-toggle="buttons">
          <label class="btn btn-sm btn-success btn-simple active data-layout-report-group-button" data-layout-report="0">
            <input type="radio" name="options" checked>
            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">日分析</span>
            <span class="d-block d-sm-none">
                          <i class="tim-icons icon-single-02"></i>
                        </span>
          </label>
          <label class="btn btn-sm btn-success btn-simple data-layout-report-group-button" data-layout-report="1">
            <input type="radio" class="d-none d-sm-none" name="options">
            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">周分析</span>
            <span class="d-block d-sm-none">
                          <i class="tim-icons icon-gift-2"></i>
                        </span>
          </label>
          <label class="btn btn-sm btn-success btn-simple data-layout-report-group-button" data-layout-report="2">
            <input type="radio" class="d-none" name="options">
            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">月分析</span>
            <span class="d-block d-sm-none">
                          <i class="tim-icons icon-tap-02"></i>
                        </span>
          </label>
          <label class="btn btn-sm btn-success btn-simple data-layout-report-group-button" data-layout-report="3">
            <input type="radio" class="d-none" name="options">
            <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">自定义</span>
            <span class="d-block d-sm-none">
                          <i class="tim-icons icon-tap-02"></i>
                        </span>
          </label>
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" style="color: #fc4f00!important;">&times;</span>
        </button>
      </div>
      <div class="modal-body text-white">
        <div class="table-full-width">

          <div class="row layout-report-text-container-box layout-report-text-container-0">
            <%
              @resources0 = Problem.accessible_by(current_ability, :read).query_from_date((Time.zone.now.beginning_of_day).to_s)
              @all_info0 = '今日截止到目前，共发现疑似问题' + @resources0.count.to_s + '个。已确定真实存在的问题' + (@resources0.query_problem_status_arr('corrected,correcting').size rescue 0).to_s + '个，其中已整改' + "\n" +
                (@resources0.query_problem_status('corrected').size rescue 0).to_s + '个，未整改' + (@resources0.query_problem_status('correcting').size rescue 0).to_s + '个。' +
                '在全部问题中，未核实问题数量为' + (@resources0.query_problem_status('waiting').size rescue 0).to_s + '个，待审核问题数量为' + (@resources0.query_problem_status('reviewing').size rescue 0).to_s + '个，以下为问题分布详细情况：'
              @location_pro = {}
              current_admin_user.source.location.children.each do |location|
                @location_pro[location.id] = @resources0.where(location_id: location.descendant_ids)
              end
              @location_pro_arr0 = []
              @location_pro.each do |k,v|
                if v.size > 0
                  @location_pro_arr0.push(Location.find(k).name + '，发现疑似问题' + v.size.to_s + '个，其中已确定' + (v.query_problem_status_arr('corrected,correcting').size rescue 0).to_s + '个，已整改' + "\n" +
                                         (v.query_problem_status('corrected').size rescue 0).to_s + '个，未整改' + (v.query_problem_status('correcting').size rescue 0).to_s + '个。' +
                                         '在全部问题中，未核实问题数量为' + (v.query_problem_status('waiting').size rescue 0).to_s + '个，待审核问题数量为' + (v.query_problem_status('reviewing').size rescue 0).to_s + '个。')
                  end
                end
            %>
            <div class="layout-report-text-container-date">
              <div class="text-center text-success" style="font-size: 26px">督察情况日分析</div>
              <div class="text-success" style="font-size: 19px; text-indent:38px; margin-bottom: 10px; font-weight: 500"><%= @all_info0 %></div>
              <% @location_pro_arr0.each do |data| %>
                <div style="text-indent:30px;margin-top: 5px; font-weight: 500; font-size: 16px"><%= data %></div>
              <% end %>
            </div>
          </div>

          <div class="row layout-report-text-container-box layout-report-text-container-1 d-none">
            <%
              @resources1 = Problem.accessible_by(current_ability, :read).query_from_date((Time.zone.now.beginning_of_day - 7.day).to_s)
              @all_info1 = '今日截止到目前，共发现疑似问题' + @resources1.count.to_s + '个。已确定真实存在的问题' + (@resources1.query_problem_status_arr('corrected,correcting').size rescue 0).to_s + '个，其中已整改' + "\n" +
                (@resources1.query_problem_status('corrected').size rescue 0).to_s + '个，未整改' + (@resources1.query_problem_status('correcting').size rescue 0).to_s + '个。' +
                '在全部问题中，未核实问题数量为' + (@resources1.query_problem_status('waiting').size rescue 0).to_s + '个，待审核问题数量为' + (@resources1.query_problem_status('reviewing').size rescue 0).to_s + '个，以下为问题分布详细情况：'
              @location_pro = {}
              current_admin_user.source.location.children.each do |location|
                @location_pro[location.id] = @resources1.where(location_id: location.descendant_ids)
              end
              @location_pro_arr1 = []
              @location_pro.each do |k,v|
                if v.size > 0
                  @location_pro_arr1.push(Location.find(k).name + '，发现疑似问题' + v.size.to_s + '个，其中已确定' + (v.query_problem_status_arr('corrected,correcting').size rescue 0).to_s + '个，已整改' + "\n" +
                                          (v.query_problem_status('corrected').size rescue 0).to_s + '个，未整改' + (v.query_problem_status('correcting').size rescue 0).to_s + '个。' +
                                          '在全部问题中，未核实问题数量为' + (v.query_problem_status('waiting').size rescue 0).to_s + '个，待审核问题数量为' + (v.query_problem_status('reviewing').size rescue 0).to_s + '个。')
                  end
              end
            %>
            <div class="layout-report-text-container-date">
              <div class="text-center text-success" style="font-size: 26px">督察情况周分析</div>
              <div class="text-success" style="font-size: 19px; text-indent:38px; margin-bottom: 10px; font-weight: 500"><%= @all_info1 %></div>
              <% @location_pro_arr1.each do |data| %>
                <div style="text-indent:30px;margin-top: 5px; font-weight: 500; font-size: 16px"><%= data %></div>
              <% end %>
            </div>
          </div>

          <div class="row layout-report-text-container-box layout-report-text-container-2 d-none">
            <%
              @resources2 = Problem.accessible_by(current_ability, :read).query_from_date((Time.zone.now.beginning_of_day - 30.day).to_s)
              @all_info2 = '今日截止到目前，共发现疑似问题' + @resources2.count.to_s + '个。已确定真实存在的问题' + (@resources2.query_problem_status_arr('corrected,correcting').size rescue 0).to_s + '个，其中已整改' + "\n" +
                (@resources2.query_problem_status('corrected').size rescue 0).to_s + '个，未整改' + (@resources2.query_problem_status('correcting').size rescue 0).to_s + '个。' +
                '在全部问题中，未核实问题数量为' + (@resources2.query_problem_status('waiting').size rescue 0).to_s + '个，待审核问题数量为' + (@resources2.query_problem_status('reviewing').size rescue 0).to_s + '个，以下为问题分布详细情况：'
              @location_pro = {}
              current_admin_user.source.location.children.each do |location|
                @location_pro[location.id] = @resources2.where(location_id: location.descendant_ids)
              end
              @location_pro_arr2 = []
              @location_pro.each do |k,v|
                if v.size > 0
                @location_pro_arr2.push(Location.find(k).name + '，发现疑似问题' + v.size.to_s + '个。已确定问题' + (v.query_problem_status_arr('corrected,correcting').size rescue 0).to_s + '个，已整改' + "\n" +
                                          (v.query_problem_status('corrected').size rescue 0).to_s + '个，未整改' + (v.query_problem_status('correcting').size rescue 0).to_s + '个。' +
                                          '在全部问题中，未核实问题数量为' + (v.query_problem_status('waiting').size rescue 0).to_s + '个，待审核问题数量为' + (v.query_problem_status('reviewing').size rescue 0).to_s + '个。')
                end
              end
            %>
            <div class="layout-report-text-container-date">
              <div class="text-center text-success" style="font-size: 26px">督察情况月分析</div>
              <div class="text-success" style="font-size: 19px; text-indent:38px; margin-bottom: 10px; font-weight: 500"><%= @all_info2 %></div>
              <% @location_pro_arr2.each do |data| %>
                <div style="text-indent:30px;margin-top: 5px; font-weight: 500; font-size: 16px"><%= data %></div>
              <% end %>
            </div>
          </div>

          <div class="row layout-report-text-container-box layout-report-text-container-3 d-none">
            <%= tag.div (manage_datetime_tag '开始时间', :layout_report_query_from_date, params[:query_from_date]), class: 'col-md-6' %>
            <%= tag.div (manage_datetime_tag '结束时间', :layout_report_query_to_date, params[:query_to_date]), class: 'col-md-6' %>
            <div class="col-12 text-center">
              <div class="btn btn-success btn-sm btn-search layout-report-generate-button">生成分析报告</div>
            </div>
            <div class="layout-report-text-container">
              请选择时间范围
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">返回</button>
      </div>
    </div>
  </div>
</div>