<!DOCTYPE html>
<html>
<head>
  <title>智慧督察系统 | 人工智能引擎助力警务督察工作</title>

  <link rel="apple-touch-icon" sizes="76x76" href="/admin/images/admin_logo.png">
  <link rel="icon" type="image/png" href="/admin/images/admin_logo.png">


  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>


  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
</head>

<body data-current-location-level-index="<%= current_admin_user.source.location.location_level.index rescue nil %>"
      data-current-location-name="<%= current_admin_user.source.location.name rescue nil %>"
      data-current-location-id="<%= current_admin_user.source.location.id rescue nil %>"
      data-controller-name="<%= controller_name %>"
      data-action-name="<%= action_name %>"
      class="controller_<%= controller_name %> action_<%= action_name %> sidebar-mini">

<% if devise_controller? %>
  <%= yield %>
<% else %>
  <div class="wrapper">
    <%= render 'layouts/manage/sidebar' %>
    <div class="main-panel" data="blue">
      <%= render 'layouts/manage/header' %>
      <%= yield %>
      <%#= render 'layouts/manage/footer' %>
    </div>
  </div>

  <% if flash[:success] %>
    <script>
      Swal.fire({
        title: '操作成功',
        text: '<%= flash[:success] %>',
        type: 'success',
        timer: 600,
        confirmButtonText: '好的',
        customClass: {
          confirmButton: 'btn btn-success'
        },
        buttonsStyling: false
      });
    </script>
  <% end %>

  <%#= render 'layouts/manage/newest_alert' %>
  <%#= render 'layouts/manage/newest_problem' %>
  <%#= render 'layouts/manage/newest_info' %>

  <%= render 'layouts/manage/modal', modal_id: 'image-preview-modal', title: (t 'manage.image_preview'), size: 'lg' do %>
    <%= tag.div class: 'modal-body' do %>
      <img src="" width="100%"/>
    <% end %>
    <%= tag.div class: 'modal-footer' do %>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
      <a href="#" id="problem-tracking-link" target="_blank">
        <button type="button" class="btn btn-info d-none problem-tracking-btn">问题追溯</button>
      </a>
    <% end %>
  <% end %>

  <%= render 'layouts/manage/setting' %>

<% end %>
</body>
</html>

