<% content_for :right_content do %>
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="card-title"><%= Camera.human_attribute_name(:master_camera_capture_id) %></h4>
      </div>
    </div>

    <div class="card-body">

      <% if @resource.master_camera_capture %>
        <%= image_tag @resource.master_camera_capture.img_data[:src], width: '100%', class: '' rescue nil %>
      <% else %>
        <h6 class="text-center my-5 py-5">当前没有监控抓拍</h6>
      <% end %>

    </div>
  </div>
<% end %>

<% content_for :bottom_content do %>
  <div class="card">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <h4 class="card-title">设置事件</h4>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-striped text-center">
        <tr>
          <th>名称</th>
          <th>灵敏度</th>
          <% if current_admin_user.source.role == 'superadmin' %>
          <th>操作</th>
          <% end %>
        </tr>
        <% @resource.event_cameras.each do |event_camera| %>
          <tr>
            <td>
              <%= event_camera.event.name %>
            </td>
            <td>
              <%= event_camera.confidence %>
            </td>
            <% if current_admin_user.source.role == 'superadmin' %>
            <td>
              <button class="btn btn-sm btn-success edit-event-camera-modal-button" data-resource-id="<%= event_camera.id %>">
                编辑
              </button>
            </td>
            <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
<% end %>

<%= render 'manage/resources/show', content_class: 'col-md-4', right_content_class: 'col-md-8' do |resource| %>
  <%= content_tag(:tr, content_tag(:td, Camera.human_attribute_name(:name)) + content_tag(:td, (resource.name rescue nil))) %>
  <%= content_tag(:tr, content_tag(:td, Camera.human_attribute_name(:status)) + content_tag(:td, (t resource.status rescue nil))) %>
  <%= content_tag(:tr, content_tag(:td, Camera.human_attribute_name(:rtsp), width: '20%') + content_tag(:td, "#{resource.rtsp}")) %>
  <%= content_tag(:tr, content_tag(:td, Camera.human_attribute_name(:location)) + content_tag(:td, (resource.location.name rescue nil))) %>
  <%= content_tag(:tr, content_tag(:td, Camera.human_attribute_name(:marked)) + content_tag(:td, (resource.marked ? '是' : '否' rescue nil))) %>
  <tr>
    <td>所在房间</td>
    <td><%= link_to '查看房间' , url_for({controller: 'admin/locations', action: :show, id: @resource.location.id}), target: '_blank'  %></td>
  </tr>
  <%= content_tag(:tr, content_tag(:td, Camera.human_attribute_name(:created_at)) + content_tag(:td, (resource.created_at.strftime('%Y-%m-%d %H:%M:%S')))) %>
  <%= content_tag(:tr, content_tag(:td, Camera.human_attribute_name(:updated_at)) + content_tag(:td, (resource.updated_at.strftime('%Y-%m-%d %H:%M:%S')))) %>
<% end %>