<div class="content">
  <div class="row">
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-warning">
                <i class="tim-icons icon-spaceship"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">已开启智能预警</p>
                <h3 class="card-title"><%= Event.all.size %>类</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <i class="tim-icons icon-refresh-01"></i>本次巡查开始时间为 <%= Time.now.strftime('20%y-%m-%d %H:%M:%S') %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-primary">
                <i class="tim-icons icon-app"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">共发现问题</p>
                <h3 class="card-title"><%= Problem.all.size %>个</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <i class="tim-icons icon-chart-bar-32"></i>仅统计智能巡查发现问题
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-success">
                <i class="tim-icons icon-bell-55"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">共发现预警</p>
                <h3 class="card-title"><%= LocationEvent.all.size %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <i class="tim-icons icon-watch-time"></i>自系统运行所有时间内
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card card-stats">
        <div class="card-body">
          <div class="row">
            <div class="col-5">
              <div class="info-icon text-center icon-danger">
                <i class="tim-icons icon-camera-18"></i>
              </div>
            </div>
            <div class="col-7">
              <div class="numbers">
                <p class="card-category">共纳入监督点</p>
                <h3 class="card-title"><%= Camera.all.size %></h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <hr>
          <div class="stats">
            <i class="tim-icons icon-sound-wave"></i>设备数量最新统计
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <% LocationLevel.all.each do |location_level| %>
              <% if location_level.index > current_admin_user.source.location.location_level.index %>
                <%= tag.div (manage_collection_select_tag location_level.name, "query_location_id_#{location_level.index}", params["query_location_id_#{location_level.index}"],
                                                          Location.where(id: Location.find(current_admin_user.source.location.id).subtree_ids ).where(location_levels: location_level), :id, :name, { include_blank: '全部' }), class: 'col-md-3' %>
              <% else %>
                <%= hidden_field_tag "query_location_id_#{location_level.index}", current_admin_user.source.location.path.query_location_level_id(location_level.id).first.id rescue nil %>
              <% end %>
            <% end %>
            <%= content_tag(:div, manage_collection_select_tag(CameraCapture.human_attribute_name(:camera), :query_camera_id, params[:query_location_id],
                                                               Camera.accessible_by(current_ability, :read), :id, :name, { include_blank: '全部' }), class: 'col-md-3') %>

            <%= content_tag(:div, manage_collection_select_tag(CameraCapture.human_attribute_name(:location_category_ids), :query_location_category_ids, params[:query_location_category_ids],
                                                               LocationCategory.where(ancestry: nil).accessible_by(current_ability, :read), :id, :name, { include_blank: '全部' }), class: 'col-md-3') %>

            <%= content_tag(:div, manage_collection_select_tag(CameraCapture.human_attribute_name(:location_category_id), :query_location_category_id, params[:query_location_category_id],
                                                               LocationCategory.where.not(ancestry: nil).accessible_by(current_ability, :read), :id, :name, { include_blank: '全部' }), class: 'col-md-3') %>

            <%= content_tag(:div, manage_select_tag('人数大于', :bodies_greater_or_equal_than, params[:bodies_greater_or_equal_than], ['', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), class: 'col-md-3') %>
            <%= content_tag(:div, manage_select_tag('人数小于', :bodies_less_or_equal_than, params[:bodies_less_or_equal_than], ['', 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]), class: 'col-md-3') %>

          </div>
          <div class="row">

            <div class="col-md-8 text-center pt-3 px-3">
              <img id="camera-capture-img" src="/admin/images/admin_search.gif" width="100%">
              <div id="progress" class="mt-1"></div>
            </div>

            <div class="col-md-4">
              <div class="card-body table-full-width">

                <table class="table table-bordered">

                  <tbody>

                  <% LocationLevel.where('index > ?', current_admin_user.source.location.location_level.index).each do |location_level| %>
                    <% if location_level.index > current_admin_user.source.location.location_level.index %>
                      <tr>
                        <td class="text-center w-25"><%= location_level.name %></td>
                        <td id="camera-capture-location-name-<%= location_level.index %>"></td>
                      </tr>
                    <% else %>
                      <tr>
                        <td class="text-center w-25"><%= location_level.name %></td>
                        <td id="camera-capture-location-name-<%= location_level.index %>"></td>
                      </tr>
                    <% end %>
                  <% end %>

                  <tr>
                    <td class="text-center">摄像头</td>
                    <td id="camera-capture-camera-name"></td>
                  </tr>

                  <!--                  <tr>-->
                  <!--                    <td class="text-center">场所类型</td>-->
                  <!--                    <td id="info-room-id"></td>-->
                  <!--                  </tr>-->
                  <!--                  <tr>-->
                  <!--                    <td class="text-center">房间类型</td>-->
                  <!--                    <td id="info-room-type"></td>-->
                  <!--                  </tr>-->
                  </tbody>

                </table>
              </div>

              <div class="card card-stats">
                <div class="card-body">
                  <div class="row">
                    <div class="col-2">
                      <div class="info-icon text-center icon-primary">
                        <i class="tim-icons icon-shape-star"></i>
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="numbers">
                        <p class="card-category text-warning">已经查看</p>
                        <h3 class="card-title "><strong id="camera-capture-viewed-number">0</strong>个</h3>
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="numbers">
                        <p class="card-category text-info">还可查看</p>
                        <h3 class="card-title "><strong id="camera-capture-no-viewed-number">0</strong>个</h3>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-footer">
                  <hr>
                  <div class="stats">
                    <i class="tim-icons icon-sound-wave"></i> 缓存信息 （共需扫描 <%= Camera.all.size %> 个监控点）

                    <% if current_admin_user.source.role == 'superadmin' %>
                      <%= link_to url_for(action: :history), target: '_blank'    do %>
                        <span class="float-right" style="color: whitesmoke">查看历史缓存</span>
                      <% end %>
                    <% end %>

                  </div>
                </div>
              </div>


              <span class="badge badge-info">图片速度</span>

              <% if current_admin_user.source.role == 'superadmin' %>
                  <%= link_to url_for(action: :new), target: '_blank'    do %>
                    <span class="badge badge-success float-right">创建数据</span>
                  <% end %>
              <% end %>

              <div id="sliderRegular" class="slider" style="margin: 15px 0"></div>

              <div class="row">

                <div class="col-md-6">
                  <button disabled="false" id="camera-capture-create-problem-button" class="btn btn-lg btn-block btn-warning create-problem-modal-button">问题标注</button>
                </div>

                <div class="col-md-6">
                  <%#= link_to url_for({ controller: 'admin/camera_captures', action: :show, id: 1 }), id: 'camera-capture-url' do %>
                  <!--                    <button class="btn btn-lg btn-block btn-info">问题追溯</button>-->
                  <%# end %>
                  <a id="camera-capture-url" href='' target="_blank">
                    <button class="btn btn-lg btn-block btn-info">问题追溯</button>
                  </a>
                </div>

                <div class="col-md-6">
                  <button class="btn btn-lg btn-block btn-primary camera-capture-play-prev">上一个</button>
                </div>

                <div class="col-md-6">
                  <button class="btn btn-lg btn-block btn-success camera-capture-play-next">下一个</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<%= render 'admin/camera_captures/mark_problem_module' %>




