<!DOCTYPE html>
<html>
<head>

  <!-- Meta -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>山东省公安检查站智慧督察系统 | 人工智能引擎助力警务督察工作</title>

  <link rel="apple-touch-icon" sizes="76x76" href="/admin/images/admin_logo.png">
  <link rel="icon" type="image/png" href="/admin/images/admin_logo.png">

  <!-- CSS only -->
  <!-- Title -->

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'checkpoint', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'checkpoint', 'data-turbolinks-track': 'reload' %>

</head>

<body class="controller_<%= controller_name %> action_<%= action_name %>" data-controller-name="<%= controller_name %>" data-action-name="<%= action_name %>" data-resource-id="<%= @resource.id rescue nil %> " data-current-location-name="<%= current_admin_user.source.location.name rescue nil %>">
<div class="layout">
  <%= yield %>
</div>

</body>

</html>
