<% if params[:type] === 'tree' %>

  <div class="content">
    <div class="card">
      <div class="card-header d-flex justify-content-between">
        <h3 class="title mb-0">
          <i class="tim-icons icon-align-center pr-2"></i><%= @model.model_name.human %><%= t 'manage.resources.list' %>
        </h3>
        <div>
          <%= link_to url_for({ action: :index, type: '' }) do %>
            <button type="button" class="btn btn-primary upload-cameras-modal-button mr-2">
              切换模式
            </button>
          <% end %>
          <button class="btn btn-success create-location-modal-button">
            <%= (t 'manage.resources.create') %>
          </button>
        </div>
      </div>
      <div class="card-body" id="tree-root" style="min-height: 80vh;" data-id="<%= 0 %>">
      </div>
    </div>
  </div>

  <%= render 'layouts/manage/modal', modal_id: 'create-location-modal', title: '创建问题类型' do %>
    <%= form_with(model: ProblemCategory.new, url: { action: :create }, local: false, html: { class: 'form-resource' }) do |form| %>
      <%= tag.div class: 'modal-body' do %>
        <%= tag.div class: 'row' do %>
          <%= form.hidden_field :parent_id %>
          <%= tag.div (manage_text_field form, :name), class: 'col-md-12' %>
          <%= tag.div (manage_select_field form, :level, human_attribute_enum(:problem_category, ProblemCategory.levels, :level), {include_blank: true}), class: 'col-md-12' %>
        <% end %>
      <% end %>
      <%= tag.div class: 'modal-footer' do %>
        <%= button_tag '关闭', class: "btn btn-secondary", type: "button", "data-bs-dismiss": "modal" %>
        <%= submit_tag '提交', class: "btn btn-primary" %>
      <% end %>
    <% end %>
  <% end %>

  <div id="edit-problem-category-modal-container"></div>

<% else %>


  <% content_for :filter_form do %>
    <%= tag.div class: 'row' do %>
      <%= tag.div (manage_text_tag '名称', :query_name, params[:query_name]), class: 'col-md-4' %>
      <%= tag.div (manage_select_tag '上级', :query_parent_id, params[:query_parent_id], options_from_collection_for_select(ProblemCategory.where(ancestry: nil) + ProblemCategory.where.not("ancestry LIKE '%/%/%'" ), :id, :name, params: [:query_parent_id]), include_blank: '全部'), class: 'col-md-4' %>
      <%= tag.div (manage_select_tag '等级', :query_level, params[:query_level], options_for_select(human_attribute_enum(:problem_category, ProblemCategory.levels, :level)), include_blank: '全部'), class: 'col-md-4' %>
    <% end %>
  <% end %>

  <% content_for :th do %>
    <%= tag.th ProblemCategory.human_attribute_name(:name) %>
    <%= tag.th ProblemCategory.human_attribute_name(:parent) %>
    <%= tag.th ProblemCategory.human_attribute_name(:level) %>
  <% end %>

  <% content_for :tools do %>
    <button type="button" class="btn btn-info upload-problem_categories-modal-button mr-2">
      上传 Excel
    </button>

    <%= link_to url_for({ action: :index, type: 'tree' }) do %>
      <button type="button" class="btn btn-primary upload-cameras-modal-button mr-2">
        切换模式
      </button>
    <% end %>

    <%= render 'layouts/manage/modal', modal_id: 'upload-problem_categories-modal', title: '上传问题分类列表' do %>
      <%= form_tag(url_for({ action: :upload_excel }), remote: true, method: :post, multipart: true, class: 'form-resource') do %>
        <%= tag.div class: 'modal-body' do %>
          <%= file_field_tag :file, required: true %>
        <% end %>
        <%= tag.div class: 'modal-footer' do %>
          <%= button_tag '关闭', class: "btn btn-secondary", type: "button", "data-bs-dismiss": "modal" %>
          <%= submit_tag '提交', class: "btn btn-primary" %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render 'manage/resources/index' do |resource| %>
    <%= tag.td resource.name %>
    <%= tag.td (resource.parent.name rescue nil) %>
    <%= tag.td (t resource.level) %>
  <% end %>
<% end %>