<div class="dashboard-container">
  <div class="col-12">
    <div class="map-container" id="dashboard-map"></div>
  </div>
  <div class="top-container">
    <div class="top-title1"><%= Admin.where(role: :superadmin).first.location.name rescue nil %>公安检查站</div>
    <div class="top-title2">共预警<%= LocationEvent.joins(:location).where(locations: { location_type: 'checkpoint' }).accessible_by(current_ability, :read).size %>条</div>
  </div>
  <div class="left-container">
    <div class="sidebar-title">环京检查站信息</div>

    <div style="display: flex; flex-direction: row">
      <div class="sidebar-card" style="height: 10vh; width: 18vh;">
        <img class="card-img d-inline-block" style="width: 4vh;" src="/checkpoint/images/people.png"/>
        <div class="card-info d-inline-block" style="padding-left: 2vh;">
          <h3 class="card-info-number"><%= @all_locations.query_location_level_name('单位').size %></h3>
          <p class="card-info-text">检查站</p>
        </div>
      </div>

      <div class="sidebar-card" style="height: 10vh; width: 18vh;">
        <img class="card-img d-inline-block" style="width: 4vh;" src="/checkpoint/images/camera.png"/>
        <div class="card-info d-inline-block" style="padding-left: 2vh;">
          <h1 class="card-info-number"><%= @all_cameras.size %></h1>
          <p class="card-info-text">监控</p>
        </div>
      </div>
    </div>

    <div style="display: flex; flex-direction: row">
      <div class="sidebar-card" style="height: 10vh; width: 18vh;">
        <img class="card-img d-inline-block" style="width: 4vh;" src="/checkpoint/images/problem.png"/>
        <div class="card-info d-inline-block" style="padding-left: 2vh;">
          <h1 class="card-info-number"><%= @all_problems.size %></h1>
          <p class="card-info-text">问题</p>
        </div>
      </div>
      <div class="sidebar-card" style="height: 10vh; width: 18vh;">
        <img class="card-img d-inline-block" style="width: 4vh;" src="/checkpoint/images/alert_orange.png"/>
        <div class="card-info d-inline-block" style="padding-left: 2vh;">
          <h1 class="card-info-number"><%= @all_location_events.size %></h1>
          <p class="card-info-text">预警</p>
        </div>
      </div>
    </div>

    <!--    <div class="sidebar-card" style="height: 10vh">-->
    <!--      <img class="card-img d-inline-block" src="/checkpoint/images/camera.png"/>-->
    <!--      <div class="card-info d-inline-block">-->
    <!--        <h1 class="card-info-number"><%#= @all_cameras.size %></h1>-->
    <!--        <p class="card-info-text">接入监控</p>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--    <div class="sidebar-card" style="height: 10vh">-->
    <!--      <img class="card-img d-inline-block" src="/checkpoint/images/problem.png"/>-->
    <!--      <div class="card-info d-inline-block">-->
    <!--        <h1 class="card-info-number"><%#= @all_problems.size %></h1>-->
    <!--        <p class="card-info-text">问题数量</p>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="sidebar-card" style="height: 12vh;position: relative">
      <div class="d-flex justify-content-between align-items-center" style="margin-top: 0.5vh">
        <div style="font-size: 1.8vh; color: #e7e7e7">摄像头分析</div>
        <div style="font-size: 1vh; color: #b8b8b8">摄像头在线情况统计</div>
      </div>
      <div style="height: 4vh;" class="square-cover0">
        <div>
          <% (0..20).each do |i| %>
            <div class="square-yellow"></div>
          <% end %>
        </div>
      </div>
      <div style="height: 4vh;" class="square-cover">
        <div style="overflow: hidden;width: <%= ((@online_cameras.size.to_f / @all_cameras.size.to_f)) * 100 %>%">

          <% (0..20).each do |i| %>
            <div class="square-blue"></div>
          <% end %>
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center" style="margin-top: 4vh">
        <div style="font-size: 1.5vh; color: #b8b8b8">
          <img class="card-camera-img d-inline-block" src="/checkpoint/images/camera2.png"/>
          在线<span style="padding-left: 1vh;color: #e7e7e7"><%= @online_cameras.size %></span></div>
        <div style="font-size: 1.5vh; color: #b8b8b8">
          <img class="card-camera-img d-inline-block" src="/checkpoint/images/camera.png"/>
          离线<span style="padding-left: 1vh;color: #e7e7e7"><%= @all_cameras.size - @online_cameras.size %></span>
        </div>
      </div>
    </div>
    <div class="sidebar-card alert-card-container" style="height: 47vh">
      <div class="d-flex justify-content-between align-items-center" style="height: 4.5vh">
        <div class="alert-card-title ">
          实时预警
        </div>
        <%= link_to checkpoint_location_events_path do %>
          <div class="alert-card-title-more">查看更多</div>
        <% end %>
      </div>

      <div class="alert-card-body">
        <div id="dashboard-event-card-container">
          <% @top_location_events.each do |location_event| %>
            <%= link_to url_for({ controller: 'checkpoint/location_events', action: :show, id: location_event.id }), target: '_blank' do %>
              <div class="alert-card dashboard-event-card">
                <div class="alert-card-title d-flex justify-content-between align-items-center" style="margin-bottom: 0vh">
                  <div class="alert-card-title1">
                    <img class="card-alert-img d-inline-block" src="/checkpoint/images/alert1.png"/>
                    <%= location_event.location.path.query_location_level_name('单位').first.name rescue nil %>
                  </div>
                  <div class="alert-card-title2">
                    <%= location_event.location.path.query_location_level_name('地级市').first.name rescue nil %>
                  </div>
                </div>
                <div class="alert-info-container d-flex">
                  <%= image_tag location_event.master_camera_capture.img_data[:src], class: 'alert-info-img' rescue nil %>
                  <div class="alert-info">
                    <div class="alert-info-text" style="height: 3.2vh">
                      <span style="color: #d7d5d5;font-size: 1.8vh;"><%= location_event.event.name %></span>
                    </div>
                    <div class="alert-info-text" style="margin-top: 0.5vh">
                      抓拍时间：<span style="color: #d7d5d5"><%= location_event.created_at.strftime('%F %T') %></span>
                    </div>
                    <div class="alert-info-text" style="margin-top: 0.15vh">
                      持续时间：<span style="color: #d7d5d5">
                  <%= distance_of_time_in_words(location_event.created_at, location_event.active_at, include_seconds: true) %></span>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="right-container">
    <div class="sidebar-title">预警与问题统计</div>
    <div class="sidebar-card" style="height: 30vh;">
      <div class="d-flex justify-content-between align-items-center" style="margin-top: 0.5vh">
        <div style="font-size: 1.8vh; color: #e7e7e7">检查站数据</div>
        <div style="font-size: 1vh; color: #b8b8b8">检查站预警统计</div>
      </div>
      <div style="height: 25vh;" id="dashboard-chart-bar"></div>
    </div>

    <div class="sidebar-card" style="height: 22vh;">
      <div class="d-flex justify-content-between align-items-center" style="margin-top: 0.5vh">
        <div style="font-size: 1.8vh; color: #e7e7e7">问题分析</div>
        <div style="font-size: 1vh; color: #b8b8b8">近30天督察数据</div>
      </div>
      <div class="d-flex">
        <div style="height: 17vh;width: 17vh;" id="dashboard-chart-pie1"></div>
        <div class="d-flex justify-content-center align-items-center" style="height: 17vh;width: 13vh;">
          <div>
            <div style="font-size: 1.5vh; color: #b8b8b8;white-space: nowrap">
              <img class="card-camera-img d-inline-block" src="/checkpoint/images/problem_blue.png"/>
              待审核
              <span style="padding-left: 1vh;color: #e7e7e7" id="problem-waiting-count">211</span></div>
            <div style="font-size: 1.5vh; color: #b8b8b8;white-space: nowrap">
              <img class="card-camera-img d-inline-block" src="/checkpoint/images/problem_cyan.png"/>
              整改中
              <span style="padding-left: 1vh;color: #e7e7e7" id="problem-correcting-count">95</span></div>
            <div style="font-size: 1.5vh; color: #b8b8b8;white-space: nowrap">
              <img class="card-camera-img d-inline-block" src="/checkpoint/images/problem_green.png"/>
              已整改
              <span style="padding-left: 1vh;color: #e7e7e7" id="problem-corrected-count">43</span></div>
            <div style="font-size: 1.5vh; color: #b8b8b8;white-space: nowrap">
              <img class="card-camera-img d-inline-block" src="/checkpoint/images/problem_purple.png"/>
              上级审核
              <span style="padding-left: 1vh;color: #ffffff" id="problem-reviewing-count">12</span></div>
          </div>
        </div>
      </div>
    </div>

    <!--    <div class="sidebar-card" style="height: 16vh;position: relative">-->
    <!--      <div class="d-flex justify-content-between align-items-center" style="margin-top: 0.5vh">-->
    <!--        <div style="font-size: 1.8vh; color: #e7e7e7">问题来源分析</div>-->
    <!--        <div style="font-size: 1vh; color: #b8b8b8">督察问题来源分析</div>-->
    <!--      </div>-->
    <!--      <div style="height: 4vh;" class="square-cover0">-->
    <!--        <div>-->
    <%# (0..18).each do |i| %>
    <!--            <div class="square-blue"></div>-->
    <%# end %>
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div style="height: 4vh;" class="square-cover">-->
    <!--        <div style="overflow: hidden;width: 100%">-->

    <%# (0..18).each do |i| %>
    <!--            <div class="square-purple"></div>-->
    <%# end %>
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div style="height: 4vh;" class="square-cover">-->
    <!--        <div style="overflow: hidden;width: 80%">-->

    <%# (0..18).each do |i| %>
    <!--            <div class="square-green"></div>-->
    <%# end %>
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div style="height: 4vh;" class="square-cover">-->
    <!--        <div style="overflow: hidden;width: 65%">-->

    <%# (0..18).each do |i| %>
    <!--            <div class="square-cyan"></div>-->
    <%# end %>
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div style="height: 4vh;" class="square-cover">-->
    <!--        <div style="overflow: hidden;width: 30%;z-index: 4">-->

    <%# (0..18).each do |i| %>
    <!--            <div class="square-blue"></div>-->
    <%# end %>
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="d-flex justify-content-between align-items-center" style="margin-top: 4vh">-->
    <!--        <div style="font-size: 1.5vh; color: #b8b8b8">-->
    <!--          <img class="card-camera-img d-inline-block" src="/checkpoint/images/problem_blue.png"/>-->
    <!--          智慧督察<span style="padding-left: 1vh;color: #e7e7e7">1,021</span></div>-->
    <!--        <div style="font-size: 1.5vh; color: #b8b8b8">-->
    <!--          <img class="card-camera-img d-inline-block" src="/checkpoint/images/problem_cyan.png"/>-->
    <!--          极速巡查<span style="padding-left: 1vh;color: #e7e7e7">95</span>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      <div class="d-flex justify-content-between align-items-center" style="margin-top: 0.5vh">-->
    <!--        <div style="font-size: 1.5vh; color: #b8b8b8">-->
    <!--          <img class="card-camera-img d-inline-block" src="/checkpoint/images/problem_green.png"/>-->
    <!--          现场督查<span style="padding-left: 1vh;color: #e7e7e7">1,021</span></div>-->
    <!--        <div style="font-size: 1.5vh; color: #b8b8b8">-->
    <!--          <img class="card-camera-img d-inline-block" src="/checkpoint/images/problem_purple.png"/>-->
    <!--          其它途径<span style="padding-left: 1vh;color: #e7e7e7">95</span>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->

    <div class="sidebar-card" style="height: 30vh;">
      <div class="d-flex justify-content-between align-items-center" style="margin-top: 0.5vh">
        <div style="font-size: 1.8vh; color: #e7e7e7">预警分析</div>
        <div style="font-size: 1vh; color: #b8b8b8">近30天督察数据</div>
      </div>
      <div class="d-flex">
        <div style="height: 25vh;width: 17vh;" id="dashboard-chart-pie2"></div>
        <div class="d-flex justify-content-center align-items-center" style="height: 25vh;width: 13vh;">
          <div>

            <% Event.where(name: ['未戴口罩', '未穿戴反光背心', '车辆拥堵', '单人拦检', '无人拦检', '引导分流民警不在岗', '执勤区民警不在岗']).each do |event| %>
              <div style="font-size: 1.5vh; color: #b8b8b8;white-space: nowrap">
                <img class="card-camera-img d-inline-block" src="/checkpoint/images/alert_orange.png"/>
                <%= event.name %>
                <span style="padding-left: 1vh;color: #e7e7e7">
                  <%= event.location_events.joins(:location).where(locations: { location_type: 'checkpoint' }).accessible_by(current_ability, :read).size %>
                </span>
              </div>
            <% end %>

            <!--            <div style="font-size: 1.5vh; color: #b8b8b8;white-space: nowrap">-->
            <!--              <img class="card-camera-img d-inline-block" src="/checkpoint/images/alert_orange.png"/>-->
            <!--              整改中<span style="padding-left: 1vh;color: #e7e7e7">95</span></div>-->
            <!--            <div style="font-size: 1.5vh; color: #b8b8b8;white-space: nowrap">-->
            <!--              <img class="card-camera-img d-inline-block" src="/checkpoint/images/alert_yellow.png"/>-->
            <!--              已整改<span style="padding-left: 1vh;color: #e7e7e7">43</span></div>-->
            <!--            <div style="font-size: 1.5vh; color: #b8b8b8;white-space: nowrap">-->
            <!--              <img class="card-camera-img d-inline-block" src="/checkpoint/images/alert_green.png"/>-->
            <!--              待审核<span style="padding-left: 1vh;color: #ffffff">12</span></div>-->
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="middle-container" id="camera-captures">

    <div class="middle-container-body" id="camera-captures-body">



    <% CameraCapture.joins(:location).where(locations: { location_type: 'checkpoint' }).accessible_by(current_ability, :read).last(20).each do |capture| %>
      <div class="camera-capture-card">
        <img  src="<%= capture.img_data[:src] rescue ''%>" onerror="this.src='/admin/images/image_error.png'"/>
<!--        <div class="camera-capture-title text-center"><%#= capture.location.name rescue ''%></div>-->
     </div>





    <% end %>
    </div>
    <!--    <div class="camera-capture-card">-->
    <!--      <img src="/checkpoint/images/test.jpg">-->
    <!--      <div class="camera-capture-title">XXXXXXXXX</div>-->
    <!--    </div>-->

  </div>
</div>